@import url('https://fonts.googleapis.com/css2?family=Lemon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

header {
    padding: 1rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    user-select: none;
    position: relative;
}

.hero {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
}

.hero h1 {
    position: absolute;
    transform: rotate(10deg);
    left: 150px;
    top: 110px;
    font-size: 2em;
    font-family: 'Lemon', sans-serif;
}

header > h1 {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 5px;
}

header img {
    width: 10rem;
}

.game-settings {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 1rem;
}

.scores {
    font-family: 'Montserrat', sans-serif;
    margin-right: 5rem;
    text-align: end;
}